  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Ebook không chỉ đáp ứng nhu cầu về sự tiện lợi mà còn mang 
            lại trải nghiệm nghe sách chất lượng cao. Với một thư viện đa dạng bao gồm các 
            thể loại từ tiểu thuyết hấp dẫn đến sách học thuật sâu sắc, trang web này hướng 
            đến việc cung cấp một nền tảng trực tuyến linh hoạt và đa chiều cho người đọc mọi lứa tuổi và sở thích.
             Ebook không chỉ là một cửa hàng sách trực tuyến mà còn là một điểm đến văn hóa đa chiều,
              nơi mà mọi người có thể kết nối, chia sẻ và khám phá thế giới thông qua từng câu chuyện. </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>CONTACT</h6>
          <ul class="footer-links">
            <li><a href="https://zalo.me/0335086156">Phone: 0335086156</a></li>
            <li><a href="https://zalo.me/0335086156">Zalo: 0335086156</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by 
       <a href="#">Ebook Weke</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/Quang.0501"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>