<app-header></app-header>
<div class="container failure">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Thanh toán thất bại!</h2>
          <div class="form-group">
            <label>Thông tin đơn hàng:</label>
            <p>{{ orderInfo }}</p>
          </div>
          <div class="form-group">
            <label>Tổng tiền:</label>
            <p>{{getFormattedPrice()}}</p>
          </div>
          <div class="form-group">
            <label>Thời gian thanh toán:</label>
            <p>{{ paymentTime }}</p>
          </div>
          <div class="form-group">
            <label>Mã giao dịch:</label>
            <p>{{ transactionId }}</p>
          </div>
          <a [routerLink]="['/']" class="btn btn-primary">Về trang chủ</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>