.container {
    background-color: white;
    padding: 20px; 
    min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
    display: flex;
    flex-direction: column;
  }
  .row-1
  {
    &:hover {
      border: 1.5px solid rgb(255, 111, 0);
    }
  }